<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="result"></div>
<table id="table-sparkline">
    <thead>
        <tr>
            <th>Properties</br>(000)</th>
            <th>Pre-Con Price</th>
            <th>Price Point</br>(1yr)</th>
            <th>Selling Price</br>(000)</th>
            <th>Market Price</th>
            <th>Profits</th>
            <th>Community Profits</th>
        </tr>
    </thead>
    <tbody id="tbody-sparkline">
        <tr>
            <th>SLS Brickell </th>
            <td>254</td>
            <td data-sparkline="71, 78, 39, 66 "/>
            <td>889</td>
            <td data-sparkline="68, 52, 80, 96 "/>
            <td>-42</td>
            <td data-sparkline="3, 26, -41, -30 ; column"/>
        </tr>
        <tr>
            <th>1000 Museum Park</th>
            <td>496</td>
            <td data-sparkline="87, 44, 74, 41 "/>
            <td>1,200</td>
            <td data-sparkline="29, 54, 73, 25 "/>
            <td>65</td>
            <td data-sparkline="58, -10, 1, 16 ; column"/>
        </tr>
        <tr>
            <th>SLS Lux</th>
            <td>349</td>
            <td data-sparkline="56, 12, 8, 25 "/>
            <td>910</td>
            <td data-sparkline="69, 14, 53, 55 "/>
            <td>-90</td>
            <td data-sparkline="-13, -2, -45, -30 ; column"/>
        </tr>
        <tr>
            <th>Gran Paraiso</th>
            <td>303</td>
            <td data-sparkline="81, 50, 78, 94 "/>
            <td>76</td>
            <td data-sparkline="36, 15, 14, 11 "/>
            <td>1,000</td>
            <td data-sparkline="45, 35, 64, 83 ; column"/>
        </tr>
        <tr>
            <th>Elysee Miami</th>
            <td>3,500</td>
            <td data-sparkline="61, 80, 10, 49 "/>
            <td>4,000</td>
            <td data-sparkline="100, 8, 52, 57 "/>
            <td>-17</td>
            <td data-sparkline="-39, 72, -42, -8 ; column"/>
        </tr>

        <tr>
            <th>Brickell City Center</th>
            <td>201</td>
            <td data-sparkline="6, 64, 44, 87 "/>
            <td>148</td>
            <td data-sparkline="60, 13, 73, 2 "/>
            <td>53</td>
            <td data-sparkline="-54, 51, -29, 85 ; column"/>
        </tr>
        <tr>
            <th>Echo Aventura</th>
            <td>161</td>
            <td data-sparkline="7, 27, 49, 78 "/>
            <td>298</td>
            <td data-sparkline="19, 90, 100, 89 "/>
            <td>-137</td>
            <td data-sparkline="-12, -63, -51, -11 ; column"/>
        </tr>
        <tr>
            <th>Apogee Beach</th>
            <td>589</td>
            <td data-sparkline="18, 39, 27, 22 "/>
            <td>732</td>
            <td data-sparkline="62, 97, 24, 2 "/>
            <td>-79</td>
            <td data-sparkline="-44, -58, 3, 20 ; column"/>
        </tr>
        <tr>
            <th>Armani Casa</th>
            <td>249</td>
            <td data-sparkline="51, 24, 90, 84 "/>
            <td>690</td>
            <td data-sparkline="47, 40, 74, 83 "/>
            <td>5</td>
            <td data-sparkline="4, -16, 16, 1 ; column"/>
        </tr>
        <tr>
            <th>Porsche Design Tower</th>
            <td>5,400</td>
            <td data-sparkline="36, 80, 39, 28 "/>
            <td>7,000</td>
            <td data-sparkline="43, 25, 52, 92 "/>
            <td>-29</td>
            <td data-sparkline="-7, 55, -13, -64 ; column"/>
        </tr>

    </tbody>
</table>
