
      <h1>Welcome !</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
      <div class="parallax-container">
       <div class="parallax"><img src="/assets/penthouse-view.jpg"></div>
     </div>
     <div class="section white">
       <div class="row container">
         <h2 class="header">Listings</h2>
         <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>

       </div>
       <div>
       <%= render "listings/listingslist" %>

       </div>
     </div>
     <div class="parallax-container">
       <div class="parallax"><%= image_tag "vhomepagev.jpg" %></div>
     </div>
