// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ============  The 3 Icons
.icono1 {
  width: 220px;
  height: 150px;
}

.icono2 {
  width: 220px;
  height: 150px;
}
.icono3 {
  width: 220px;
  height: 150px;
}
