// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #plaid-link-button {
//   border: 10px solid pink;
// }
.card .sone{
  width: 40%;
  position: relative;
  left: 30%;


}
.banks {
  background-image: url("/assets/bluish.jpg");
}
