
<div class="banks">
<a href="#" data-activates="slide-out" class="btn-floating btn-large button-collapse"><i class="medium material-icons">menu</i></a>

<div class="row">


      <div class="col s12 m12">
        <div class="card sone">
          <div class="card-content black-text">

    <center><span class="card-title"><h4>Link Your Bank account securely with us.</h4></span>
      <p class="black-text"><h5>if you want to pay with a bank account, or withdraw funds in your account balance, <br>
        you must add a bank account to your verified Prinvest Personal Account <br>
              by using one of the following methods:<br>
              <br>
                  •  Instant Account Verification<br><br>
                  •  Random Deposits<br><br>
                  •  Secure Document Upload<br><br>
                </h5></p>


                <button id="plaidLinkButton" class="waves-effect waves-light btn">Link Bank Account</button><!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> --></center>



                       </div>
                     </div>

                      </div>
                     </div>

<!-- To use Link with longtail institutions on Connect, set the
data-longtail attribute to 'true'. See the Parameter Reference for
additional documentation. -->


<script>
var sandboxHandler = Plaid.create({
  env: 'production',
  clientName: 'Client Name',
  key: 'be61fb563954acb16ebbfd5f532912',
  product: 'auth',
  onSuccess: function(public_token, metadata) {
    console.log(public_token, metadata);
  },
});

document.getElementById('plaidLinkButton').onclick = function() {
  // Trigger the "Institution Select" view

  sandboxHandler.open();
};
</script>

</div>
